<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">DORIXONA</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#MAINMENU" aria-controls="MAINMENU"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="MAINMENU">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">BOSH SAHIFA <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/hisobot">Hisobot</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sahifalar </a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="/pages/bino">Bino</a>
                    <a class="dropdown-item" href="/pages/xona">Xona</a>
                </div>
            </li>
        </ul>
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}"  class="btn btn-outline-success my-2 my-sm-0" type="submit">Kirish</a>
            <a sec:authorize="isAuthenticated()"  th:href="@{/logout}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Chiqish</a>
    </div>
</nav>

<script>
    $('#main-nav a').click(e => {
        e.preventDefault();
        $(this).tab('show');
    });
</script>