<!doctype html>
<html lang="en">

<head>
    <title>Bosh sahifa</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap-4.6.2-dist/css/bootstrap.min.css">
</head>

<body>
    <th:block th:insert="header::navbar"></th:block>



    <div class="container mt-1">
        <div class="row">
            <div class="col" th:if="!${edit}">
                <h1>Xona qo'shish</h1>
                <form  th:action="@{/pages/xona/create}"  method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text"  name="nom" id="nom" class="form-control"
                            placeholder="NOM . .." aria-describedby="nom">
                        <small id="NOM" class="text-muted">NOM KIRITISH</small>
                    </div>
                    <div class="form-group">
                        <label for="bino">Bino</label>
                        <select class="form-control" name="bino" id="bino">
                            <option th:each="b: ${binolar}" th:value="${b.id}" th:text="${b.nom}" ></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="info">INFO</label>
                        <input type="text" name="info"  id="info" class="form-control"
                            placeholder="INFO" aria-describedby="INFO2">
                        <small id="INFO2" class="text-muted">INFO</small>
                    </div>
                    <div class="form-group">
                        <label for="rasm">Rasm</label>
                        <input type="file"  name="rasmcha" id="rasm" class="form-control"
                               placeholder="rasm . .." aria-describedby="rasm2">
                        <small id="rasm2" class="text-muted">Rasm tanlang</small>
                    </div>
                    <div>
                        <input name="submit" id="submit" class="btn btn-primary" type="submit" value="Qo'shish">
                        <button type="reset" class="btn btn-warning">Tozalash</button>
                    </div>


                </form>

            </div>
            <div class="col" th:if="${edit}">
                <h1>xona tahrirlash</h1>
                <form action="#" th:action="@{/pages/xona/update}" th:object="${xona}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="number" readonly="readonly" th:field="*{id}" name="id" id="id" class="form-control" placeholder="ID"
                            aria-describedby="xonaID">
                        <small id="xonaID" class="text-muted">xonaD ID</small>
                    </div>
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" th:field="*{nom}" name="nom" id="nom" class="form-control"
                            placeholder="NOM . .." aria-describedby="nom">
                        <small id="NOM" class="text-muted">NOM KIRITISH</small>
                    </div>
                    <div class="form-group">
                        <label for="bino">Bino</label>
                        <select th:field="*{bino.id}" class="form-control" name="bino" id="bino">
                            <option th:value="*{bino.id}" th:text="*{bino.nom}" selected></option>
                            <option th:each="b: ${binolar}" th:value="${b.id}" th:text="${b.nom}" ></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="info">INFO</label>
                        <input type="text" name="info" th:field="*{info}" id="info" class="form-control"
                            placeholder="INFO" aria-describedby="INFO ">
                        <small id="INFO " class="text-muted">INFO</small>
                    </div>

                    <div class="form-group">
                        <img th:src="@{/pages/xona/rasm/{id}(id=*{id})}" height="80">
                        <label for="rasm">Rasm</label>
                        <input type="file"  name="rasmcha" id="rasm" class="form-control"
                               placeholder="rasm . .." aria-describedby="rasm2">
                        <small id="rasm2" class="text-muted">Rasm tanlang. Tanlamasangiz o'zgarishsiz qoladi.</small>
                    </div>
                    <div>
                        <input name="submit" id="submit" class="btn btn-primary" type="submit" value="Tahrirlash">
                        <button type="reset" class="btn btn-warning">Tozalash</button>
                    </div>


                </form>

            </div>
            <div class="col">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <table class="table text-center table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>RASM</th>
                            <th>NOM</th>
                            <th>Bino</th>
                            <th>INFO</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="b: ${xonalar}">
                            <td th:text="${b.id}"> </td>
                            <td> <img th:src="@{/pages/xona/rasm/{id}(id=${b.id})}" height="60"></td>
                            <td th:text="${b.nom}"> </td>
                            <td th:text="${b.bino.nom}"> </td>
                            <td th:text="${b.info}"> </td>
                            <td>
                                <a type="button" th:attr="href=|/pages/xona/${b.id}|"    class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <button type="button" class="btn btn-danger btn-xs" th:attr="onclick=|setId('${b.id}')|" 
                                data-toggle="modal" data-target="#modelId">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <nav class="d-flex justify-content-center" aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </div>





    
    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">xona o'chirish</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    Siz rostdan ham ushbu xonani o'chirib tashlamoqchimisiz
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilsih</button>
                    <a href="/pages/xona/delete/" id="deleteBtn" class="btn btn-danger">O'chirish</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setId(id){
            let deleteBtn = document.getElementById('deleteBtn');
            if(deleteBtn){
                deleteBtn.setAttribute('href', '/pages/xona/delete/'+id);
            }
        }
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.slim.min.js"
       ></script>
    <script src="/js/popper.min.js" ></script>
    <script src="/bootstrap-4.6.2-dist/js/bootstrap.min.js"
       ></script>
</body>

</html>